body{
    padding: 0;
    margin: 0;
    height: 2000px;
    width: 100%;
    background-color: bisque;
}
.top{
    width: 50%;
    height: 100px;
    position:fixed;
    z-index: 1;
}
.left{
    background-color: rgb(0, 0, 0);
    left: 0;
}
.right{
    background-color: rgb(0, 0, 0);
    right: 0;
}
.kv{
    width: 500px;
    height: 500px;
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
}
.in{
    position: absolute;
    width: 150px;
    height: 150px;
}
.top-left{
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);

}
.top-right{
    top: 0;
    right: 0;
    background-color: rgb(255, 164, 53);
    
}
.bottom-left{
    bottom: 0;
    left: 0;
    background-color:chocolate ;

}
.bottom-right{
    bottom: 0;
    right: 0;
    background-color:rgb(210, 30, 210) ;

}
.center{
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 175px;
    background-color: rgb(255, 213, 0);
}
.bottom{
    position: sticky;
    top: 100px;
    width: 100%;
    height: 100px;
    margin-top: 350px;
}
.bottom2{
    position: absolute;
    width: 100%;
    height: 100%;
}
.b1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    left: 0;
}
.b2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    right: 0;
}

